@mixin borders() {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@mixin buttons() {
  border-radius: .2em;
  color: #0C4C38;
  font-size: .8em;
  font-weight: bold;
  height: 2.5em;
  width: 20%;

  &:hover {
    cursor: pointer;
    background-color: #28BB8D;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  position: absolute;
  text-align: center;
  width: 40%;

  p {
    color: red;
  }

  input {
    @include borders();
    font-size: 1em;
    height: 3em;
    margin-bottom: 2em;
    text-indent: 1em;
    width: 100%;
  }
}

.submit-button {
  @include buttons();
  align-self: center;
  width: 35%;
}
