@import "../../mixins.scss";

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 6em;
  margin: 2em 0 1em 0;
}

.background-img {
  max-height: 500px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.no-favorites {
  color: #0C4C38;
  font-size: 3em;
  margin: 1em 0;
}

.back-btn {
  @include buttons();
  @include borders();
  margin-bottom: 2em;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  width: 13em;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
