main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 10em;
  margin: 3em 0 2em 0;
}

.background-img {
  max-height: 30%;
  object-fit: cover;
  position: relative;
}
