@import "../../mixins.scss";

article {
  @include borders();
  margin-bottom: 2em;
  padding: .8em;
}

.preview-img {
  border-radius: .3em;
  height: 15em;
  object-fit: cover;
  width: 100%;
}

.details-btn {
  @include borders();
  @include buttons();
}

.listing-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .8em;
}

.listing-name {
  margin: 0;
}
